@CHARSET "UTF-8";
#layout_html {
	/* height: 800px;
	width: 1000px; */
	height: 100%;
	/* width: 1000px; */
	margin: 0 8% 0 8%;
}
#layout_body {
  height: inherit;
  width: inherit;
}
table#layout_table {
	width: 100%;
	height: 100%;
/* 	height: 800px; */
	border-collapse: collapse;
	border: #000 solid 1px;
}

tr#top_row {
	width: 100%;
	height: 15%;
}
td#top_left_cell {
  width: 20%;
  border-collapse: collapse;
  border: #000 solid 1px;
  /* vertical_align: top !important; */
}
td#top_right_cell {
  width: 80%;
  border-collapse: collapse;
  border: #000 solid 1px;
  /* vertical_align: top !important; */
}
tr#bottom_row {
  width: 100%;
  height: 85%;
}
td#bottom_left_cell {
  width: 20%;
  height: 100%;
  border-collapse: collapse;
  border: #000 solid 1px;
  /* vertical_align: top !important; */
}
td#bottom_right_cell {
  width: 80%;
  height: 100%;
  border-collapse: collapse;
  border: #000 solid 1px;
  /* vertical_align: top !important; */
}