{% extends "index_layout.html" %}
{% load staticfiles %}
{% block css %}
  {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'Things/style.css' %}" />
    <style>
    table#colors_index thead th#name_header {
      width: 75px;
    }
    table#colors_index thead th#description_header {
      /* width: auto; */
    }
    div#colors_index_wrapper div#colors_index_filter {
      width: 100%;
      text-align: center;
    }
    </style>
{% endblock css %}
{% block external_script %}
  {{ block.super }}
{% endblock external_script %}
{% block javascript_top %}
  {{ block.super }}
{% endblock javascript_top %}
{% block jq_doc_ready %}
    {{ block.super  }}
        $("#colors_index").DataTable({
         "paging": true,
         "pagingType": "simple_numbers",
         "pageLength": 11,
         "displayStart": 12,
         "scrollY": "400",
         "scrollCollapse": false,
         "deferRender": true,
         "deferLoading": {{ colors|length }},
         "autoWidth": false,
         "dom": "frtp"
        });
{% endblock jq_doc_ready %}
{% block javascript_bottom %}
  {{ block.super }}  
{% endblock javascript_bottom %}

{% block bottom_right %}
<div>
{% if colors %}
  <table id="colors_index">
    <thead>
      <tr><th colspan="4">User: {{ user }}</th></tr>
      <tr>
        <th colspan="4">Colors<a href="{% url 'Things:add_color' user.id 0 %}" > Add</a></th>
      </tr>
      <tr>
        <th id="name_header">Name</th>
        <th id="description_header">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for color in colors %}
      <tr>
        <td><a href="{% url 'Things:edit_color' user.id color.id %}" >{{ color.enName }}</a></td>
        <td>{{ color.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>There are no colors</p>
{% endif %}
</div>
{% endblock bottom_right %}
