{% extends "index_layout.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Things/style.css' %}" />
<script type="text/javascript" src="/static/js/jquery/jquery-1.11.2.js"></script>
<script type="text/javascript" src="/static/js/jquery/DataTables-1.10.5/media/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css" />
<script type="text/javascript">
<!--
  $(document).ready(function() {
   $("#colors_index").DataTable({
     'deferRender': false,
     'deferLoading': false,
     'dom': '<rtp>'
   });
  });

  function things_index_delete_verify(this) {
    var result window.confirm("Are you sure ?");
    if((result == true)) {
      
    }
  }

//-->
</script>


{% block bottom_right %}
<div>
{% if colors %}
  <table id="colors_index">
    <thead>
      <tr><th colspan="4">User: {{ user }}</th></tr>
      <tr>
        <th colspan="4">Colors<a href="{% url 'Things:add_color' user.id 0 %}" > Add</a></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for color in colors %}
      <tr>
        <td><a href="{% url 'Things:edit_color' user.id color.id %}" >{{ color.enName }}</a></td>
        <td>{{ color.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>User has no things</p>
</div>
{% endif %}

{% endblock bottom_right %}

{% block things_links %}
<tr><td ></td><td><a href="{% url 'Things:colors' %}" >Colors list</a></td></tr>
{% endblock things_links %}